.explore{
    flex: 0.8;
    margin-left: 10px;
    background-color: #F9F9F9;
    padding: 40px 20px;
    height:1100vh;

}
.catagory{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.ExploreCatagory{
    display: flex;
    align-items: center;
    margin: 15px 0 5px 5px;
    flex-direction: column;
    width: 14vw;
    height: 18vh;
    background-color: #FFFFFF;
    /* border: 2px solid black; */
    border-radius: 5px;
    
}
.ExploreCatagory > .MuiSvgIcon-root {
    font-size: 4.6rem;
    margin: 10px;
    color: #FD8A86;
}

.ExploreCatagory > p{
    margin: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}
@media (max-width:600px) {
    .ExploreCatagory > .MuiSvgIcon-root {
        font-size: 2rem;
        margin: 10px;
        color: #FD8A86;
    }
    .ExploreCatagory{
        height: 8vh;
        margin: 19px 0 5px 11px;
    }
    .ExploreCatagory > p{
      display: none;
    }
    
}