.searchVideo{
    flex: 0.8;
}
.searchVideo_filter{
    display: flex;
    align-items: center;
    color: #606060;
    font-size: xx-small;
    margin-left: 10px;
    margin-top: 10px;
    
}
.searchVideo >hr {
    height: 1px;
    border: 0;
    background-color: lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
}

.searchVideo_filter > h2{
    margin-left: 10px;
}

